{% extends "layout.html" %}

{% block title %}Edit Ward Member{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow p-4">

        <h2 class="text-center text-warning mb-4">
            Edit Ward Member
        </h2>

        <form method="POST">

            <div class="mb-3">
                <label>Ward Number</label>
                <input type="number"
                       name="ward_no"
                       class="form-control"
                       value="{{ member.ward_no }}"
                       required>
            </div>

            <div class="mb-3">
                <label>Name</label>
                <input type="text"
                       name="name"
                       class="form-control"
                       value="{{ member.name }}"
                       required>
            </div>

            <div class="mb-3">
                <label>Designation</label>
                <input type="text"
                       name="designation"
                       class="form-control"
                       value="{{ member.designation }}"
                       required>
            </div>

            <div class="mb-3">
                <label>Phone</label>
                <input type="text"
                       name="phone"
                       class="form-control"
                       value="{{ member.phone }}"
                       required>
            </div>

            <div class="mb-3">
                <label>Email</label>
                <input type="email"
                       name="email"
                       class="form-control"
                       value="{{ member.email }}">
            </div>

            <button class="btn btn-warning w-100">
                Update Member
            </button>

        </form>

    </div>

</div>

{% endblock %}