{% extends "layout.html" %}

{% block title %}
My Profile
{% endblock %}

{% block content %}

<div class="report-container">

    <h2>👤 My Profile</h2>

    <div class="form-group">
        <label>Full Name</label>
        <input type="text" value="{{ citizen.fullname }}" readonly>
    </div>

    <div class="form-group">
        <label>Mobile Number</label>
        <input type="text" value="{{ citizen.mobile }}" readonly>
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="email" value="{{ citizen.email }}" readonly>
    </div>

    <br>

    <a href="/edit_profile" class="btn-add">
        ✏️ Edit Profile
    </a>
    <br><br>

<a href="/change_password" class="btn-add">

🔒 Change Password

</a>
</div>

{% endblock %}