{% extends "layout.html" %}

{% block title %}
Citizen Registration
{% endblock %}

{% block content %}

<div class="register-container">

    <div class="register-card">

        <h2>Citizen Registration</h2>
        <p>Create your Ward Shabdam account</p>

        <form action="/register" method="POST">

            <label>Full Name</label>
            <input type="text" name="fullname" required>

            <label>Mobile Number</label>
            <input type="text" name="mobile" required>

            <label>Email Address</label>
            <input type="email" name="email">
            <div class="form-group">

    <label>Ward</label>

    <select name="ward" required>

    <option value="">Select Ward</option>

    <option value="9">Ward 9</option>
    <option value="10">Ward 10</option>

</select>

    </div>

            <label>Password</label>
            <input type="password" name="password" required>

            <label>Confirm Password</label>
            <input type="password" name="confirm_password" required>

            <button type="submit">
                Register
            </button>

        </form>

        <p class="login-link">
            Already have an account?
            <a href="/login">Login Here</a>
        </p>

    </div>

</div>

{% endblock %}